body {
    background: #fff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    line-height: 1.7;
    margin: 0;
    padding: 30px;
    text-align: center;
    color: #4A4A4A;
}

h1 {
    border-bottom: 3px solid #CD88AF; 
    margin: auto;
    font-size: 2.5em;
    font-weight: bold;
    padding: 6px;
    letter-spacing: 1.5px;
    background-color: #E1B4CD;
    color: #4A4A4A;
}

#container-popup {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.82);
    display: none;
}

#popup {
	text-align: center;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#popup img {
	height: 100%;
}

#container-thumbnails {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: center;
    text-align: center;
}

.exit-button {
  background-color: #FF4545;
  color: #FFFFFF;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
  font-size: 20px;
  position: absolute;
  border: none;
  outline: none;
}
.right-button {
  background-color: #FF4545;
  color: #FFFFFF;
  height: 30px;
  width: 30px;
  top: 50%;
  right: 0;
  font-size: 20px;
  position: absolute;
  border: none;
  outline: none;
}
.left-button {
  background-color: #FF4545;
  color: #FFFFFF;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 0;
  font-size: 20px;
  position: absolute;
  border: none;
  outline: none;
}

.thumbnail {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    overflow: hidden;
}